/* ✅ components/datatable.css */
.dataset-container {
    padding: 5px;
  }

  .dark-mode .p-inputtext,
  .dark-mode .p-multiselect-header,
  .dark-mode .p-calendar,

  .dark-mode .p-datatable .p-datatable-tbody > tr > td,
  .dark-mode .p-datatable .p-datatable-thead > tr > th {
    background-color: #212529;
    color: #b0b0b0;
    border-color: #888;
  }
  .dark-mode .p-datatable .p-datatable-thead > tr > th.p-highlight {
    color: #007bff;
  }
  .dark-mode.p-datatable .p-datatable-tbody > tr > td .p-row-toggler {
    color: #b0b0b0;
  }
  .p-datatable.p-datatable-scrollable > .p-datatable-wrapper > .p-datatable-table > .p-datatable-thead {
    background-color: inherit;
  }